@import url('https://fonts.cdnfonts.com/css/arcade-classic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    height: 200px;
    margin: 10px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text-box {
    position: absolute;
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    text-align: center;
    font-size: 50px;
}

.name {
    position: absolute;
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    bottom: 5px;
    right: 5px;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 35px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB,#E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 80px;
    animation: pipe-animation 1s infinite linear;
}

.pipe.paused, .clouds.paused, .mario.paused {
    animation: none;
}

.mario {
    position: absolute;
    bottom: 0;
    width: 150px;
}

.jump {
    animation: jump-animation 500ms ease-out;
}

.clouds {
    position: absolute;
    top: 20px;
    width: 550px;
    animation: clouds 10s infinite linear;
}

.game-over {
    color: red;
    font-size: 100px;
    font-family: 'ArcadeClassic', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.game-over.active {
    display: block;
}

.restart {
    background-color: red;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 20px;
    color: white;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.restart:hover {
    background-color: rgb(111, 48, 48);
    cursor: pointer;
}

.mario,
.pipe,
.clouds {
    position: absolute;
    z-index: 1;
}


.score-box {
    position: absolute;
    font-family: 'ArcadeClassic', sans-serif;
    display: flex;
    right: 20px;
    top: 20px;
    z-index: 10;
    background: white;
    padding: 10px;
    border-radius: 8px;
}


@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump-animation {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 200px;
    }

    50% {
        bottom: 200px;
    }

    60% {
        bottom: 200px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

